* {
    padding: 0%;
    margin: 0%;
    justify-content: space-evenly;
    box-sizing: border-box;

}

#navbar {
    z-index: 100;
    background-color: hsl(202, 100%, 61%);

}

nav {
    position: sticky;
    top: 0;
}

nav a {
    color: rgb(1, 1, 1);
    font-weight: 600;
}

.dropdown {
    display: flex ;
    flex-direction: column ;
    width: auto ;
}

#drop_down {
    color: rgb(134, 22, 22) ;
    display: flex ;
    width: auto;
}

#drop_down:hover {
    border-radius: 20px;
    color: rgb(4, 4, 4) ;
}

#ins_drop {
    width: auto;
}

.dpdown {
    display: flex;
    flex-direction: column;
    width: auto;
}

#ddown {
    display: flex;
}

.violin{
    background-color: lavender;
    display: flex;

}

.contact_one {
    margin-top: 50px;
    height: auto;
    margin: 5px;
    display: flex;
    align-items: first baseline;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

#contact_p {
    color: rgb(106, 106, 106);
    font-size: 0.8rem;

}

#audio {
    width: 300px;
}

.contact_nav {
    margin-top: 30px;
    width: 305px ;
}

.box {
    width: 150px !important;
    height: 345px !important;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 6px 1px rgb(161, 160, 160);
    
}

img {
    width: 190px;
    height: 240px;
}

.collection {
    width: 1100px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.check-out {
    /* margin-top: 10px; */
    width: 90px;
     
    height: 25px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px gray;
}


h5 {
    font-size: 0.8rem !important  ;
    font-weight: 500  !important;
}

small{
    
    width: 200px;
    /* display: flex; */
}
.filter {
    box-shadow: 0 0 7px 1px rgba(91, 91, 92, 0.26);
    display: flex !important;
    width: 260px;
    height: 600px;
    text-align: center;
    position: static;
    
}

.percentage {
    color: green;
    font-size: 0.6rem;
}

strike {
    font-size: 0.8rem ;
}


/* Footer */


.color{
    color: rgb(128, 128, 128);
}
td{
    padding-left: 29px !important;
}
.footer_li{
    
    list-style: none;
}
.footer_li a{
    text-decoration: none;
    color: black;
   
}
#footer{

    color:yellow !important;
    background-color: teal !important;

}
#footer .row{
    background-color: teal;
    text-align: center;
    
}
 #col{
    margin-top: 30px !important;
    padding: 20px;
}
#hr_line{
    margin-top: 35px !important;
    border-left: 1px solid white;
}
.footer_bottom{
    display: flex !important;
}
.footer_bottom_end{
    display: flex !important;
    margin-left: 25px  ;
}
.footer_bottom_end p{
    margin-left: 15px;
}
.footer_bottom_end img{
    margin-bottom: 19px;

}



/* Media-query */



@media only screen and (max-width: 1200px) {
    .collection {
        width: 100%;
        background-color: lavender;
    }


    .box {
        width: 210px !important;
        height: 320px !important;
        margin-top: 25px;

    }

    
    img {
        width: 150px;
        height: 200px;
        padding-right: 0px;
        padding-top: 10px;
    }


    .check-out {
        width: 50px;
        height: 25px;
        margin: 20px;
    }

    .filter {
        width: 40%;
        height: auto;
        box-shadow: none;
        background-color: silver;

    }
}



@media only screen and (max-width: 1024px) {
    .collection {
        width: 100%;
        background-color: lavender;
    }


    .box {
        width: 230;
        height: 310px;
        margin-top: 10px;

    }

    
    img {
        width: 150px;
        height: 200px;
        padding-right: 0px;
        padding-top: 10px;
    }


    .check-out {
        width: 90px;
        height: 30px;
        margin: 20px;
    }

    .filter {
        width: 40%;
        height: auto;
        box-shadow: none;
        background-color: silver;

    }
}

@media only screen and (max-width: 992px) {

    .collection {
        /* width: 100%; */
        background-color: lavender;
    }


    .box {
        width: 200px !important;
        height: 300px !important;
        margin-top: 25px;



    }


    img {
        width: 180px;
        height: 200px;
        padding: 20px;
    }

    h5 {
        font-size: 1.0rem !important;
    }

    .check-out {
        width: 60px;
        height: 25px;
        margin: 10px;
    }

    .filter {
        width: 60%;
        height: auto;
        box-shadow: none;
        background-color: silver;
        

    }

}



@media only screen and (max-width: 768px) {

    .collection {
        /* width: 100%; */
        background-color: lavender;
    }

    .box {
        width: 180px !important;
        height: 310px !important;
        margin-top: 25px;

    }

    img {
        width: 170px;
        height: 210px;
        padding: 20px;

    }
    h5 {
        font-size: 0.9rem;
    }

    .check-out {
        width: 60px;
        height: 20px;
        font-size: 0.7rem;
        margin: 10px;
    }

    .filter {
        width: 90%;;
        height: auto;
        box-shadow: none;
        background-color: silver;

    }
}

@media only screen and (max-width: 550px) {

    .collection {
        width: 100%;
        background-color: lavender;
    }


    
    .box {
        width: 150px !important;
        height: 280px !important;
        margin-top: 25px;

    }

    img {
        width: 130px !important;
        height: 170px !important;
        padding: 10px;
    }
    h5 {
        font-size: 0.8rem !important;
    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .check-out {
        width: 65px;
        height: 25px;
        margin-top: 20px;
    }

    .violin{
        background-color: lavender;
        display:block ;
    
    }

    .filter{

    width: 100%;
    height: 100px;
    }

}

@media only screen and (max-width: 480px) {

    .collection {
        width: 100%;
        background-color: lavender;
    }


    
    .box {
        width: 155px !important;
        height: 290px !important;
        margin-top: 25px;

    }

    img {
        width: 150px !important;
        height: 190px !important;
        padding: 20px;
    }
    h5 {
        font-size: 0.7rem;
    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .violin{
        background-color: lavender;
        display: block;
    
    }

    .check-out {
        width: 65px;
        height: 25px;
        margin: 10px;
    }

    

    
  
}

@media only screen and (max-width: 350) {

    .collection {
        width: 100%;
        background-color: lavender;
    }
    .box {
        width: 150px !important;
        height: 300px;
        margin-top: 25px;

    }

    img {
        width: 160px;
        height: 200px;
        padding: 10px;
    }

    h5 {
        font-size: 0.7rem;
    }

    .check-out {
        width: 70px;
        height: 40px;
        margin: 10px;
    }

    
}


